.table{
  width: 90%;
  margin:0 auto;
  box-shadow: 6px 6px 10px grey;
  padding:10px;
}
tr:hover{
  background-color: #ffa;
}
#card1{
  max-width: 18rem;
  margin-left:100px;
  width:300px;
  paddind:20px;
  margin-top:50px;
}
.cardcls{
  display: flex;
  flex-wrap: wrap;
}
.cov{
  text-align: center;
}
table td{
  padding:20px;
}
.banner{
  display:flex;
}
#h2b{
  margin-top:45%;
  /* float: right;
  margin-left: 100px; */
}
#symp,.h2p{
  text-align: center;
  padding:30px;
  color:#ff3700;
}
.symptoms,.preventions{
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  flex: auto;
  padding:10px;
  justify-content: space-around;
}
.imgw{
  padding:10px;
  
}
.vidb{
  margin-left: -30px;
  
}
